# FXServer build version string
# Get it from: https://runtime.fivem.net/artifacts/fivem/build_proot_linux/master/
# Copy the folder name (e.g., 25770-8ddccd4e4dfd6a760ce18651656463f961cc4761)

FXSERVER_VERSION=25770-8ddccd4e4dfd6a760ce18651656463f961cc4761