services:
  reverse-proxy:
    image: traefik:v3.3
    ports:
      - "80:80"
      - "443:443" 
      # - "8080:8080" # remove in production only for debugging
    environment:
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./data/certs:/var/certs/:rw # for storing SSL certificates
    networks:
      - web-external
    restart: unless-stopped

  mariadb:
    image: mariadb:10.11
    container_name: mariadb-redm
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - web-external

  fxserver:
    build:
      context: .
      dockerfile: dockerfile
    container_name: fxserver-redm
    restart: unless-stopped
    stdin_open: true
    tty: true
    ports:
      - "30120:30120/tcp"
      - "30120:30120/udp"
    volumes:
      - txdata:/opt/fxserver/server/txData
      - server-data:/opt/fxserver/server-data
    environment:
      - TERM=xterm
      - MYSQL_CONNECTION_STRING=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mariadb/${MYSQL_DATABASE}
    networks:
      - web-external
    labels:
      - "traefik.enable=true"
      # txAdmin Web UI
      - "traefik.http.routers.txadmin.rule=Host(`diamondrush.online`)"
      - "traefik.http.routers.txadmin.entrypoints=websecure"
      - "traefik.http.routers.txadmin.tls.certresolver=cloudflare"
      - "traefik.http.services.txadmin.loadbalancer.server.port=40120"

volumes:
  txdata:
    driver: local
  server-data:
    driver: local
  mariadb_data:
    driver: local

networks:
  web-external:
    external: true